@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

$primary-c: #4361ee;
$dark-bg: #111e2e;

$text-c: #e8e8e8;
$light-bg: #f7f7f8;
$black-c: #252422;

$sec-f: "Audiowide", serif;

$z-index-small: 50;
$z-index-medium: 100;
$z-index-large: 200;

@mixin glass-effect {
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin justify-flex-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
