@use "../../styling/variable.scss" as *;

.article {
  position: relative;
  overflow: hidden;

  &.dark {
    .article__heading {
      .article__link {
        &::after {
          background-color: $text-c;
        }
      }
    }

    .articles__grid {
      .bottom__article {
        .article__card {
          .article__info {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .date {
              font-size: 1.4rem;
              font-weight: 600;
              color: $primary-c;
              letter-spacing: 2px;
            }

            h3 {
              font-size: 3rem;
              line-height: 2;
              letter-spacing: 1.5;
            }

            .tags {
              span {
                background-color: $text-c;
                color: $black-c;
              }
            }
          }
        }
      }

      .main__article {
        .top__article {
          .article__card {
            .article__info {
              .tags {
                span {
                  background-color: $text-c;
                  color: $black-c;
                }
              }
            }
          }
        }

        .side__articles {
          .article__card {
            .article__info {
              .tags {
                span {
                  background-color: $text-c;
                  color: $black-c;
                }
              }
            }
          }
        }
      }
    }
  }

  &.light {
    .article__heading {
      .article__link {
        &::after {
          background-color: $black-c;
        }
      }
    }

    .articles__grid {
      .bottom__article {
        .article__card {
          .article__info {
            .tags {
              span {
                background-color: $black-c;
                color: $text-c;
              }
            }
          }
        }
      }
    }
  }

  &__container {
    padding: 1rem 5%;

    @media (max-width: 1366px) {
      padding: 1rem 2%;
    }

    .article__heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5rem;

      @media (max-width: 992px) {
        margin-bottom: 3rem;
      }

      @media (max-width: 468px) {
        flex-direction: column;
        gap: 2rem;
        align-items: start;
      }

      .article__title {
        font-size: 3.5rem;
        font-weight: bold;
        font-family: $sec-f;
        letter-spacing: 2px;

        @media (max-width: 992px) {
          font-size: 2.5rem;
        }

        @media (max-width: 468px) {
          font-size: 2rem;
        }
      }

      .article__link {
        font-size: 1.5rem;
        font-weight: 500;
        position: relative;
        letter-spacing: 2px;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        @media (max-width: 992px) {
          font-size: 1.2rem;
        }

        svg {
          width: 20px;
          height: 20px;
        }

        &:hover {
          &::after {
            width: 100%;
          }
        }

        &::after {
          content: "";
          position: absolute;
          bottom: -10px;
          left: 0;
          width: 0;
          height: 2px;
          border-radius: 12px;
          transition: all 0.5s ease-in-out;
        }
      }
    }

    .articles__grid {
      display: flex;
      flex-direction: column;
      gap: 5rem;

      .main__article {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;

        @media (max-width: 992px) {
          grid-template-columns: repeat(1, 1fr);
        }

        .top__article {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;

          @media (max-width: 992px) {
            margin-bottom: 2rem;
          }

          .article__card {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 2rem;

            .img {
              width: 100%;
              border-radius: 12px;
              overflow: hidden;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            .article__info {
              display: flex;
              flex-direction: column;
              gap: 2rem;

              @media (max-width: 1366px) {
                gap: 1.5rem;
              }

              .date {
                font-size: 1.4rem;
                font-weight: 600;
                color: $primary-c;
                letter-spacing: 2px;

                @media (max-width: 1366px) {
                  font-size: 1.2rem;
                }
              }

              h3 {
                font-size: 2.5rem;
                line-height: 2;
                letter-spacing: 1.5;

                @media (max-width: 1366px) {
                  font-size: 1.7rem;
                }
              }

              p {
                font-size: 1.4rem;
                line-height: 1.5;

                @media (max-width: 1366px) {
                  font-size: 1.2rem;
                }
              }

              .tags {
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
                margin-top: 1rem;

                @media (max-width: 1366px) {
                  margin-top: 0.5rem;
                }

                @media (max-width: 992px) {
                  margin-top: 0;
                  gap: 0.5rem;
                }

                span {
                  height: 40px;
                  display: grid;
                  text-transform: capitalize;
                  font-size: 1.4rem;
                  place-items: center;
                  letter-spacing: 2px;
                  width: fit-content;
                  border-radius: 12px;
                  padding: 0 1rem;

                  @media (max-width: 1366px) {
                    font-size: 1.2rem;
                  }

                  @media (max-width: 992px) {
                    font-size: 1rem;
                  }
                }
              }
            }
          }
        }

        .side__articles {
          display: flex;
          flex-direction: column;
          gap: 4rem;
          width: 100%;
          padding: 1rem;
          height: 100%;

          @media (max-width: 992px) {
            padding: 0;
          }

          @media (max-width: 468px) {
            gap: 2rem;
          }

          .article__card {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            width: 100%;
            gap: 2rem;
            padding: 1rem;

            @media (max-width: 1366px) {
              gap: 1.5rem;
            }

            @media (max-width: 992px) {
              gap: 1rem;
              padding: 0;
            }

            @media (max-width: 468px) {
              grid-template-columns: repeat(1, 1fr);
            }

            .img {
              width: 100%;
              border-radius: 12px;
              overflow: hidden;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            .article__info {
              display: flex;
              flex-direction: column;
              gap: 1.5rem;
              justify-content: center;

              .date {
                font-size: 1.2rem;
                font-weight: 600;
                color: $primary-c;
                letter-spacing: 2px;

                @media (max-width: 1366px) {
                  font-size: 1rem;
                }
              }

              h4 {
                font-size: 1.4rem;
                line-height: 2;
                letter-spacing: 1.5;

                @media (max-width: 1366px) {
                  font-size: 1.2rem;
                }
              }

              p {
                font-size: 1.2rem;
                line-height: 1.5;

                @media (max-width: 1366px) {
                  font-size: 1rem;
                }
              }

              .tags {
                display: flex;
                flex-wrap: wrap;
                gap: 0.5rem;

                span {
                  height: 40px;
                  display: grid;
                  text-transform: capitalize;
                  font-size: 1.4rem;
                  place-items: center;
                  letter-spacing: 2px;
                  width: fit-content;
                  border-radius: 12px;
                  padding: 0 1rem;

                  @media (max-width: 1366px) {
                    font-size: 1.2rem;
                  }

                  @media (max-width: 992px) {
                    font-size: 1rem;
                  }
                }
              }
            }
          }
        }
      }

      .bottom__article {
        display: flex;
        flex-direction: column;
        width: 100%;

        .article__card {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 2rem;

          @media (max-width: 992px) {
            grid-template-columns: repeat(1, 1fr);
            gap: 1rem;
          }

          .img {
            width: 100%;
            border-radius: 12px;
            overflow: hidden;

            @media (max-width: 992px) {
              margin-bottom: 0.5rem;
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .article__info {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            @media (max-width: 992px) {
              gap: 1rem;
            }

            .date {
              font-size: 1.4rem;
              font-weight: 600;
              color: $primary-c;
              letter-spacing: 2px;

              @media (max-width: 992px) {
                font-size: 1.2rem;
              }
            }

            h2 {
              font-size: 3rem;
              line-height: 2;
              letter-spacing: 1.5;

              @media (max-width: 1366px) {
                font-size: 2rem;
              }

              @media (max-width: 992px) {
                font-size: 1.7rem;
              }
            }

            p {
              font-size: 1.4rem;
              line-height: 1.5;

              @media (max-width: 1366px) {
                font-size: 1.2rem;
              }

              @media (max-width: 992px) {
                font-size: 1.1rem;
              }
            }

            .tags {
              display: flex;
              flex-wrap: wrap;
              gap: 0.5rem;
              margin-top: 1rem;

              @media (max-width: 992px) {
                margin-top: 0.5rem;
              }

              span {
                height: 40px;
                display: grid;
                text-transform: capitalize;
                font-size: 1.4rem;
                place-items: center;
                letter-spacing: 2px;
                width: fit-content;
                border-radius: 12px;
                padding: 0 1rem;

                @media (max-width: 992px) {
                  font-size: 1rem;
                }
              }
            }
          }
        }
      }
    }

    .bg {
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      opacity: 0.3;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
