@use "../../styling/variable.scss" as *;

.portofolio {
  position: relative;
  overflow: hidden;

  &.dark {
    .portofolio__toolbar {
      .portofolio__link {
        &::after {
          background-color: $text-c;
        }
      }
    }

    .content {
      .box {
        border: 1px solid var(--nav-bg);

        .text {
          .category {
            .category__item {
              background-color: rgba(255, 255, 255, 0.1);
            }
          }

          .teknologo {
            .teknologo__item {
              .img {
                background-color: $light-bg;
              }
            }
          }
        }
      }
    }
  }

  &.light {
    .portofolio__toolbar {
      .portofolio__link {
        &::after {
          background-color: $black-c;
        }
      }
    }

    .content {
      .box {
        border: 1px solid var(--nav-bg);

        .text {
          .category {
            .category__item {
              background-color: rgba(0, 0, 0, 0.1);
            }
          }

          .teknologo {
            .teknologo__item {
              .img {
                background-color: rgba(0, 0, 0, 0.1);
              }
            }
          }
        }
      }
    }
  }

  &__container {
    padding: 1rem 5%;

    @include md-xl {
      padding: 1rem 2%;
    }

    @include md-sm {
      padding: 1rem 0;
    }

    .portofolio__toolbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5rem;

      @include md-xl {
        margin-bottom: 3rem;
      }

      @include md-sm {
        flex-direction: column;
        gap: 2rem;
        align-items: start;
      }

      .portofolio__title {
        font-size: 3.5rem;
        font-weight: bold;
        font-family: $sec-f;
        letter-spacing: 2px;

        @include md-xl {
          font-size: 2.5rem;
        }
      }

      .portofolio__link {
        font-size: 1.5rem;
        font-weight: 500;
        position: relative;
        letter-spacing: 2px;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        @include md-xl {
          font-size: 1.2rem;
        }

        svg {
          width: 20px;
          height: 20px;
        }

        &:hover {
          &::after {
            width: 100%;
          }
        }

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 2px;
          border-radius: 12px;
          transition: all 0.5s ease-in-out;
        }
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 3rem;

      .box {
        background-color: transparent;
        border-radius: 12px;
        gap: 2rem;
        padding: 1rem;
        width: 100%;
        height: 100%;
        @include glass-effect;
        @include justify-flex-center;

        @include md-xl {
          gap: 1rem;
        }

        @include md-sm {
          flex-direction: column;
          align-items: unset;
          justify-content: unset;
        }

        .img {
          width: 50%;
          height: 100%;

          @include md-l {
            width: 80%;
          }

          @include md-sm {
            width: 100%;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            transition: all 0.5s ease-in-out;
          }
        }

        .text {
          width: 50%;
          height: 100%;
          display: flex;
          flex-direction: column;
          gap: 2rem;

          @include md-xl {
            gap: 1rem;
          }

          @include md-sm {
            width: 100%;
          }

          h2 {
            font-size: 2.5rem;
            font-weight: bold;
            letter-spacing: 2px;

            @include md-xl {
              font-size: 2rem;
            }

            @include md-l {
              font-size: 1.5rem;
            }
          }

          p {
            font-size: 1.15rem;
            font-weight: 500;
            line-height: 2;
            line-clamp: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;

            @include md-xl {
              font-size: 1rem;
            }

            @include md-l {
              font-size: 0.8rem;
            }
          }

          .category {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            @include md-xl {
              gap: 1rem;
            }

            .category__title {
              font-size: 1.5rem;
              font-weight: bold;
              letter-spacing: 2px;

              @include md-xl {
                font-size: 1.2rem;
              }

              @include md-l {
                font-size: 1rem;
              }
            }

            .category__item {
              font-size: 1.5rem;
              font-weight: bold;
              letter-spacing: 2px;
              padding: 1rem;
              width: fit-content;
              border-radius: 12px;
              background-color: rgba(255, 255, 255, 0.1);
              text-transform: capitalize;

              @include md-xl {
                font-size: 1rem;
              }
            }
          }

          .teknologo {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            @include md-xl {
              gap: 1rem;
            }

            .teknologo__title {
              font-size: 1.5rem;
              font-weight: bold;
              letter-spacing: 2px;

              @include md-xl {
                font-size: 1.2rem;
              }

              @include md-l {
                font-size: 1rem;
              }
            }

            .teknologo__item {
              display: flex;
              flex-wrap: wrap;
              gap: 1rem;

              @include md-xl {
                gap: 0.5rem;
              }

              @include md-l {
                margin-top: 1rem;
              }

              .img {
                padding: 1rem;
                border-radius: 12px;
                width: fit-content;
                display: grid;
                place-items: center;

                @include md-l {
                  padding: 0.5rem;
                }

                img {
                  width: 30px;
                  height: 30px;
                  object-fit: cover;
                  object-position: center;

                  @include md-xl {
                    width: 20px;
                    height: 20px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .bg {
    position: absolute;
    top: 20%;
    left: 0;
    z-index: -1;
    opacity: 0.3;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
